<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.jf.mapper.MBomMapper">

    <select id="List" resultType="org.jeecg.modules.jf.entity.MBom" parameterType="java.lang.String">
        SELECT a.*,b.MaterialName
		FROM m_bom a,m_material b
		WHERE a.MaterialEncode = b.id
		and
		taskid = #{taskid}
    </select>
</mapper>