<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.jf.mapper.MShopplanMapper">

    <select id="getListPage" resultType="org.jeecg.modules.jf.entity.MShopplan">
        select a.*,b.MaterialName
        from m_shopplan a,m_material b
        where a.MaterialEncode = b.id
    </select>

    <delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  m_shopplan
		WHERE
			 ShopPlanId = #{mainId} 	</delete>

    <select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.jf.entity.MShopplan">
		SELECT *
		FROM  m_shopplan
		WHERE
			 ShopPlanId = #{mainId} 	</select>

    <select id="queryPageShopplanList" resultType="org.jeecg.modules.jf.entity.MShopplan" parameterType="java.lang.String">

select a.*,b.WSName,c.productname
from m_shopplan a left join m_workshop b on a.workshopid = b.id left join m_product_map c on a.MaterialEncode =c.id
where a.ShopPlanId = #{shopplanid}

    </select>

</mapper>